<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><img src="~/Content/img/logo0.png" height="50" width="50"  alt="logo"></span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><img src="~/Content/img/logo0.png" height="50" width="50" alt="logo"><b>TERA</b>Universe </span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN Facebook *@
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa  fa-facebook"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">TERA Universe Facebook</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/Content/img/logo1.png" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            TERA Universe
                                            <small><i class="fa fa-clock-o"></i> Since 2014</small>
                                        </h4>
                                        <p>News,Trailers,Reviews,Promotions,Movies.</p>
                                    </a>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-red"><i class="fa fa-thumbs-o-up"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Likes</span>
                                            <span class="info-box-number">5 243</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="https://www.facebook.com/TeraUniverse/">View the page <i class="fa fa-globe"></i></a></li>
                    </ul>
                </li>
                @* END Messages *@
                @* BEGIN Twitter *@
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">TERA Universe Twitter</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Followers</span>
                                            <span class="info-box-number">816</span>
                                        </div>
                                    </div>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-orange"><i class="fa fa-edit"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Publications</span>
                                            <span class="info-box-number">22 000</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="https://twitter.com/universe_tera">View the page <i class="fa fa-globe"></i></a></li>
                    </ul>
                </li>
                @* END Twitter *@
                @* BEGIN Instagram *@
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">TERA Universe instagram</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Followers</span>
                                            <span class="info-box-number">1 529</span>
                                        </div>
                                    </div>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-orange"><i class="fa fa-edit"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Publications</span>
                                            <span class="info-box-number">830</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="https://www.instagram.com/tera_universe/">View the page <i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </li>
                @* END Tasks *@
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/img/user.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">About Us</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/Content/img/user.jpg" class="img-circle" alt="User Image">
                            <p>Sanoyan JEYAKUMAR<br />Johnathan NADARAJAH
                                <small>Web Developers since Nov. 2017</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="https://github.com/johnathan95/TeraU" class="btn btn-default btn-flat">GitHub</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
            </ul>
        </div>
    </nav>
</header>