@model IEnumerable<TeraU.Models.Movie>
@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<!-- LightWidget WIDGET -->
<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/19d21b5f504656bd993a75c697ee187e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
